.testimonail{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px ;
    border-radius: 50%;
    outline: 0;
    background: #076e83;
    color: #fff;
    width: 40px;
}
.back-btn{
    right: auto;
left: 0;
}
.slider{
    margin: 0 40px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    transition: all 0.5s;
    overflow-x: hidden;
}
.slider ul li{
    width: 50%;
    list-style: none;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
    position: relative;
}
.slide:hover{
    background: #076e83;
    color: #fff;
    transform: transition(0.5s);
    transform: scale(1.1);
}
.slide img{
    width: 64px;
    border-radius: 50%;
    margin-right: 10px;
     background: #076e83;

}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3
{
    font-weight: 500;
}


/*  media query */
@media (max-width: 768px){
    .user-info{  
        align-items: center;
        
    }
}