.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    font-weight: 500;
    font-size: 25px;
    color: #000F38;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-col h3 img{
    width: 34px;
    margin-left: 10px;
}
.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}
.contact-col ul li {
    list-style: none !important;
    align-items: center;
    display: flex;
    margin: 10px 0;
}
.contact-col ul li img {
    width: 25px !important;
    margin-right: 10px !important;
}
.contact form input, .contact form textarea {
    display: block;
    width: 100%;
    /* background: #9c9eb2; */
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #9c9eb2;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;

}
.contact-col span {
    display: block;
    margin-top: 10px 0;

}
.location{
    width: 100%;
    border: 0;
    height: 300px;
}
.result{
    color: #076e83;
}
@media (max-width: 768px){
    .contact{ 
        display: block;
    }
}
